$nav-color: rgba(0, 0, 0, 0.87);
$text: #222;
$light-gray: lightgray;
$button-text: #5f6368;
$button-gradient: linear-gradient(to bottom, #f5f5f5, #f1f1f1);
$button-hover: #f8f8f8;
$button-gray: #f2f2f2;
$light-blue: #4d90fe;
$footer-border: rgb(228, 228, 228);
$coral: coral;
$result-blue: #1a0dab;
$result-visited: #609;
