@import "../../sass/main";

.joke__box {
  width: 50rem;
  margin: 3rem auto;
  text-align: center;
  @media only screen and(max-width:700px) {
    width: 90%;
  }

  h1 {
    font-size: 2rem;
    @media only screen and(max-width:700px) {
      font-size: 1.4rem;
    }
  }
  p {
    font-size: 1.2rem;
    margin-top: 0.4rem;
    &::first-letter {
      text-transform: uppercase;
    }
    @media only screen and(max-width:700px) {
      font-size: 1.2rem;
    }
  }
}
