@import "../../sass/main";

footer {
  background: rgb(242, 242, 242);
  margin-top: 4rem;
}

.footer {
  color: $nav-color;
  padding-top: 2rem;
  &__upper {
    border-bottom: 1px solid $footer-border;
    padding-bottom: 1rem;
  }

  &__line {
    color: $nav-color;
    font-size: 1.6rem;
    @media only screen and(max-width:600px) {
      text-align: center;
      font-size: 1.3rem;
    }
    a {
      color: $coral;
      &:hover {
        color: rgba($coral, 0.6);
      }
    }
  }
}
